body {
  margin: 0;
  font-family: sans-serif;
}

html {
  background: url(/images/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 48px;
  background-color: #f5e050;
  color: #5e88ff;
  margin-top: 0;
  padding: 16px 0;
}

textarea {
  width: 80%;
  height: 10vh;
  display: block;
  margin: 1rem;
  padding: 1rem;
}

#btn-translate {
  background: #5e88ff;
  border: none;
  color: #f5e050;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #f5e050;
  margin: auto;
  display: block;
  font-weight: bold;
}

#output-text {
  margin-left: 20px;
}

#output {
  border: 1px solid black;
  height: 10vh;
  width: 80%;
  margin: 1rem;
  padding: 1rem;
}

.main-section {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  background-color: #f5e050;
  color: #5e88ff;
  margin-top: 25px;
  padding: 0 10px;
  margin-bottom: 0;
}

.about {
  max-width: 450px;
  padding-bottom: 0.2rem;
  padding-top: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 30px;
  margin: 0;
}

p {
  font-size: 20px;
  margin: 2px;
}

footer ul.social-links {
  width: 85%;
  min-height: 5vh;
  text-align: center;
}

.social-links li {
  margin: 1rem 2rem;
  display: inline-block;
}

.social-links li a {
  padding: 0.5rem 0.75rem;
  color: #5e88ff;
}

.social-links li a:hover {
  background: #5e88ff;
  color: #f5e050;
  border-radius: 0.5rem;
}

i.fab {
  margin-right: 0.25rem;
}
