body {
  margin: 0;
}

html {
  background: url(/images/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  text-align: center;
  margin: 0;
  background-color: #f5e050;
  /* color: #5E88FF; */
  padding: 1rem;
}
